<% @rent_amount = number_to_currency(@rent_amount, unit: "R$ ", separator: ",") %>

<u><h2>Cobrança <%= @billing.id %></h2></u>
<p><strong>Contrato:</strong> <%= @billing.contract_id %></p>
<p><strong>Imóvel:</strong> <%= @apartment.block.building.name %></p>
<p><strong>Bloco:</strong> <%= @apartment.block.name %></p>
<p><strong>Apartamento:</strong> <%= @apartment.number %></p>
<p><strong>Inquilino:</strong> <%= @tenant_name %></p>

<br>

<div class="centered">
  <h3>Demonstrativo de Condomínio</h3>
</div>

<table>
  <thead>
    <tr>
      <th>Período do Condomínio</th>
      <th>Período do Aluguel</th>
      <th>Encargos</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= "#{@billing_reference_start_date}- #{@billing_reference_end_date}" %>
      </td>
      <td>
        <%= "#{@billing_rent_reference_start_date} - #{@billing_rent_reference_end_date}" %>
      </td>
      <td>
        <% @billing.charges.each do |charge| %>
            <%= charge.description %>: <%= number_to_currency(charge.amount, unit: "R$ ", separator: ",", delimiter: ".") %>
        <% end %>
        Aluguel: <%= @rent_amount %>
      </td>
      <td class="total">
        <%= number_to_currency(@billing.amount, unit: "R$ ", separator: ",", delimiter: ".") %>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>

<div class="centered">
  <strong>RECIBO DE ALUGUEL E CONDOMÍNIO</strong>

  <div class="centered-justified">
    <p>
      Declaro haver recebido de <b><%= @tenant_name.upcase %></b> o valor de <b><%= number_to_currency(@billing.amount, unit: "R$ ", separator: ",", delimiter: ".") %></b> referente
      ao aluguel do mês de <b><%= @month_name.upcase %></b>, período <%= @billing_rent_reference_start_date %>
      a <%= @billing_rent_reference_end_date %>, e condomínio de <%= @billing_reference_start_date %> a <%= @billing_reference_end_date %> da sala/apt. n° <%= @apartment.number %>,
      situada na <%= @address_street %>, nº. <%= @address_number %>, Bairro <%= @address_district %> em <%= @address_city %>.
    </p>
  </div>

  <br>
  <br>

  <p>
  <%= @address_city.upcase %>, <%= Date.today.strftime("%d/%m/%Y") %>.
  </p>

  <p>
    <br>
    <br>
    __________________________________
    <br>
    <br>
    <%= @landlord_name %>
  </p>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    text-align: center;
  }

  .total {
    font-weight: bold;
  }

  .centered {
    margin: 20px auto;
    text-align: center;
  }

  .centered-justified {
    width: 66%;
    margin: 0 auto;
    text-align: justify;
  }
</style>
