<div id="<%= dom_id charge %>">
    <p class="my-5">
        <strong class="block font-medium mb-1">Billing:</strong>
        <%= charge.billing_id %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <%= charge.description %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Amount:</strong>
        <%= charge.amount %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Type:</strong>
        <%= charge.charge_type %>
    </p>
</div>
